.App {
  text-align: center;
}

.contact-us-text {
  line-height: 24px;
  font-weight: 700;
  font-size: 16px;
}

.appointment-text {
  font-size: 500px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.dropdown-wrapper {
  display: flex;
  justify-content: center;
}

.message-wrapper {
  display: flex;
  justify-content: center;
}

.custom-placeholder::placeholder {
  color: #737373;
  opacity: 1;
  padding-left: 12px;
}

.custom-select .ant-select-selector {
  background-color: #f9f9f9 !important;
  height: 50px;
  border-radius: 5px;
}

.custom-select .ant-select-selector {
  padding-right: 120px !important;
  color: #737373;
}

.custom-select .ant-select-selection-placeholder {
  left: 10px !important;
  color: #737373;
}

.custom-select-2 .ant-select-selector {
  background-color: #f9f9f9 !important;
  height: 50px;
  border-radius: 5px;
}

.custom-select-2 .ant-select-selector {
  padding-right: 120px !important;
  color: #737373;
}

.custom-select-2 .ant-select-selection-placeholder {
  left: 10px !important;
  color: #bdbdbd;
}
